<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="nav-button" href="/logout">Logout</a>
    <a
      class="nav-button"
      href="/clinician/dashboard"
    >Dashboard</a>
    <a
      class="nav-button"
      href="/clinician/{{patient._id}}/thresholds"
    >Update Thresholds</a>
    <a
      class="nav-button"
      href="/clinician/{{patient._id}}/clinician-notes"
    >Clinician Notes</a>
    <a
      class="nav-button"
      href="/clinician/{{patient._id}}/support-message"
    >Support Message</a>
  </nav>
  <main>
    <h3 class="text-center">Detailed view for {{patient.name}}</h3>
    <div class="flex flex-space-around flex-wrap">
      <div class="vh60-scroll">
      <table class="clinician-styled-table">
        <thead>
          <tr>
            <th width="20%">Date</th>
            {{#if patient.bloodGlucoseRequired}}
              <th width="20%">Blood Glucose</th>
            {{/if}}
            {{#if patient.insulinDosesRequired}}
              <th width="20%">Insulin Doses</th>
            {{/if}}
            {{#if patient.weightRequired}}
              <th width="20%">Weight (kg)</th>
            {{/if}}
            {{#if patient.exerciseRequired}}
              <th width="20%">Exercise (steps)</th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each patientHistory}}
            <tr>
              <td width="20%">{{this.date}}</td>
              {{#if ../patient.bloodGlucoseRequired}}
                <td width="20%">
                  {{#if (outRange ../patient.bloodGlucoseLow ../patient.bloodGlucoseHigh this.bloodGlucose)}}
                    <span class="text-danger">
                  {{else}}
                    <span>
                  {{/if}} 
                    {{this.bloodGlucose}}
                    </span>
                </td>
              {{/if}}
              {{#if ../patient.insulinDosesRequired}}
                <td width="20%">
                  {{#if (outRange ../patient.insulinDosesLow ../patient.insulinDosesHigh this.insulinDoses)}}
                    <span class="text-danger">
                  {{else}}
                    <span>
                  {{/if}} 
                    {{this.insulinDoses}}
                    </span>
                </td>
              {{/if}}
              {{#if ../patient.weightRequired}}
                <td width="20%">
                  {{#if (outRange ../patient.weightLow ../patient.weightHigh this.weight)}}
                    <span class="text-danger">
                  {{else}}
                    <span>
                  {{/if}} 
                    {{this.weight}}
                    </span>
                </td>
              {{/if}}
              {{#if ../patient.exerciseRequired}}
                <td width="20%">
                  {{#if (outRange ../patient.exerciseLow ../patient.exerciseHigh this.exercise)}}
                    <span class="text-danger">
                  {{else}}
                    <span>
                  {{/if}} 
                    {{this.exercise}}
                    </span>
                </td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
      </div>
      <div class="vh60-scroll">
      <table class="clinician-styled-table" id="comments">
        <thead>
          <tr>
            <th width="20%">Date</th>
            <th width="60%" style="max-width: 200px">Comment</th>
            <th width="20%">Field</th>
          </tr>
        </thead>
        <tbody>
          {{#each patientHistory}}
            {{#if this.bloodGlucoseComment}}
              <tr>
                <td width="20%">{{this.date}}</td>
                <td width="60%">{{this.bloodGlucoseComment}}</td>
                <td width="20%">Blood Glucose</td>
              </tr>
            {{/if}}
            {{#if this.insulinDosesComment}}
              <tr>
                <td width="20%">{{this.date}}</td>
                <td width="60%">{{this.insulinDosesComment}}</td>
                <td width="20%">Insulin Doses</td>
              </tr>
            {{/if}}
            {{#if this.weightComment}}
              <tr>
                <td width="20%">{{this.date}}</td>
                <td width="60%">{{this.weightComment}}</td>
                <td width="20%">Weight</td>
              </tr>
            {{/if}}
            {{#if this.exerciseComment}}
              <tr>
                <td width="20%">{{this.date}}</td>
                <td width="60%">{{this.exerciseComment}}</td>
                <td width="20%">Exercise</td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
      </div>
    </div>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>
