<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="nav-button" href="/">Home</a>
    <a
      class="nav-button"
      href="/clinician/{{clinician._id}}/dashboard"
    >Dashboard</a>
    <a
      class="nav-button"
      href="/clinician/{{clinician._id}}/{{patient._id}}/thresholds"
    >Update Thresholds</a>
  </nav>
  <main>
    <h3 class="text-center">Detailed view for {{patient.name}}</h3>
    <div class="flex flex-space-around">
      <table class="clinician-styled-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Blood Glucose</th>
            <th>Insulin Doses</th>
            <th>Weight (kg)</th>
            <th>Exercise (steps)</th>
          </tr>
        </thead>
        <tbody>
          {{#each patientHistory}}
            <tr>
              <td>{{this.date}}</td>
              <td>
                {{#if (outRange ../patient.bloodGlucoseLow ../patient.bloodGlucoseHigh this.bloodGlucose)}}
                  <span class="text-danger">
                {{else}}
                  <span>
                {{/if}} 
                  {{this.bloodGlucose}}
                  </span>
              </td>
              <td>
                {{#if (outRange ../patient.insulinDosesLow ../patient.insulinDosesHigh this.insulinDoses)}}
                  <span class="text-danger">
                {{else}}
                  <span>
                {{/if}} 
                  {{this.insulinDoses}}
                  </span>
              </td><td>
                {{#if (outRange ../patient.weightLow ../patient.weightHigh this.weight)}}
                  <span class="text-danger">
                {{else}}
                  <span>
                {{/if}} 
                  {{this.weight}}
                  </span>
              </td><td>
                {{#if (outRange ../patient.exerciseLow ../patient.exerciseHigh this.exercise)}}
                  <span class="text-danger">
                {{else}}
                  <span>
                {{/if}} 
                  {{this.exercise}}
                  </span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <table class="clinician-styled-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Comment</th>
            <th>Field</th>
          </tr>
        </thead>
        <tbody>
          {{#each patientHistory}}
            {{#if this.bloodGlucoseComment}}
              <tr>
                <td>{{this.date}}</td>
                <td>{{this.bloodGlucoseComment}}</td>
                <td>Blood Glucose</td>
              </tr>
            {{/if}}
            {{#if this.insulinDosesComment}}
              <tr>
                <td>{{this.date}}</td>
                <td>{{this.insulinDosesComment}}</td>
                <td>Insulin Doses</td>
              </tr>
            {{/if}}
            {{#if this.weightComment}}
              <tr>
                <td>{{this.date}}</td>
                <td>{{this.weightComment}}</td>
                <td>Weight</td>
              </tr>
            {{/if}}
            {{#if this.exerciseComment}}
              <tr>
                <td>{{this.date}}</td>
                <td>{{this.exerciseComment}}</td>
                <td>Exercise</td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>

      </table>
    </div>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>