<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="nav-button" href="/">Home</a>
  </nav>
  <main>
    <div class="flex flex-space-around">
      <table class="clinician-styled-table">
        <thead>
          <tr>
            <th>Patient</th>
            <th>Blood Glucose</th>
            <th>Insulin Doses</th>
            <th>Weight</th>
            <th>Exercise</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each combined}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.bloodGlucose}}</td>
              <td>{{this.insulinDoses}}</td>
              <td>{{this.weight}}</td>
              <td>{{this.exercise}}</td>
              <td><a
                  class="View"
                  href="/clinician/{{this.clinician}}/{{this._id}}"
                >View</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>