<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="button" href="/">Home</a>
  </nav>
  <main>
    <form name="dayform" id="dayform" action="postday" method="post">
      {{#if patient.bloodGlucoseRequired}}
        <div>

          <label for="bloodGlucose">Blood Glucose:</label>
          {{#if patientDay.bloodGlucose}}
            <input
              type="number"
              id="bloodGlucose"
              name="bloodGlucose"
              value={{patientDay.bloodGlucose}}
              readonly
            />
          {{else}}
            <input type="number" id="bloodGlucose" name="bloodGlucose" />
          {{/if}}

          <label for="bloodGlucoseComment">Blood Glucose Comment:</label>
          {{#if patientDay.bloodGlucoseComment}}
            <input
              readonly
              type="text"
              id="bloodGlucoseComment"
              name="bloodGlucoseComment"
              value="{{patientDay.bloodGlucoseComment}}"
            />
          {{else}}
            <input
              type="text"
              id="bloodGlucoseComment"
              name="bloodGlucoseComment"
            />
          {{/if}}

          <br /><br />
        </div>
      {{/if}}

      {{#if patient.insulinDosesRequired}}
        <div>

          <label for="insulinDoses">Insulin doses:</label>
          {{#if patientDay.insulinDoses}}
            <input
              type="number"
              id="insulinDoses"
              name="insulinDoses"
              value={{patientDay.insulinDoses}}
              readonly
            />
          {{else}}
            <input type="number" id="insulinDoses" name="insulinDoses" />
          {{/if}}

          <label for="insulinDosesComment">Insulin Doses Comment:</label>
          {{#if patientDay.insulinDosesComment}}
            <input
              readonly
              type="text"
              id="insulinDosesComment"
              name="insulinDosesComment"
              value="{{patientDay.insulinDosesComment}}"
            />
          {{else}}
            <input
              type="text"
              id="insulinDosesComment"
              name="insulinDosesComment"
            />
          {{/if}}

          <br /><br />
        </div>
      {{/if}}

      {{#if patient.weightRequired}}
        <div>

          <label for="weight">Weight:</label>
          {{#if patientDay.weight}}
            <input
              type="number"
              id="weight"
              name="weight"
              value={{patientDay.weight}}
              readonly
            />
          {{else}}
            <input type="number" id="weight" name="weight" />
          {{/if}}

          <label for="weightComment">Weight Comment:</label>
          {{#if patientDay.weightComment}}
            <input
              readonly
              type="text"
              id="weightComment"
              name="weightComment"
              value="{{patientDay.weightComment}}"
            />
          {{else}}
            <input type="text" id="weightComment" name="weightComment" />
          {{/if}}

          <br /><br />
        </div>
      {{/if}}

      {{#if patient.exerciseRequired}}
        <div>

          <label for="exercise">Exercise:</label>
          {{#if patientDay.exercise}}
            <input
              type="number"
              id="exercise"
              name="exercise"
              value={{patientDay.exercise}}
              readonly
            />
          {{else}}
            <input type="number" id="exercise" name="exercise" />
          {{/if}}

          <label for="exerciseComment">Exercise Comment:</label>
          {{#if patientDay.exerciseComment}}
            <input
              readonly
              type="text"
              id="exerciseComment"
              name="exerciseComment"
              value="{{patientDay.exerciseComment}}"
            />
          {{else}}
            <input type="text" id="exerciseComment" name="exerciseComment" />
          {{/if}}

          <br /><br />
        </div>
      {{/if}}

      <input type="submit" value="Submit" />
    </form>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>