<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="nav-button" href="/logout">Logout</a>
    <a class="nav-button" href="/patient/history">Patient History</a>
    <a class="nav-button" href="/patient/leaderboard">Leaderboard</a>
    <a class="nav-button" href="/patient/update-password">Update Password</a>
    <a class="nav-button" href="/patient/about-this-website">About Us</a>
    <a class="nav-button" href="/patient/about-diabetes">About Diabetes</a>
  </nav>
  <main>
    <div class="flex flex-center">
      <h2 class="text-center">Welcome {{patient.name}}</h2>
      {{#if (gt patient.engagement 80)}}
        <img src="https://digicheckins.com/wp-content/uploads/2019/03/80-percent-01.png" width="100" height="100">
      {{/if}}
    </div>
    <div class="flex flex-space-around">
      <div class="flex flex-column">
        <div class="shadow-box">
          <h3 class="text-center">Today's Health Data</h3>
          <div class="flex flex-center">
          </div>
          <form
            class="styled-form"
            name="dayform"
            id="dayform"
            action="postday"
            method="post"
          >
            <h4 class="text-center" id="date" name="date">Date: {{patientDay.date}}</h4>
            {{#if patient.bloodGlucoseRequired}}
              <div class="flex flex-space-around flex-wrap form-line">
                <div class="flex flex-column form-line-field">
                  <label for="bloodGlucose">Blood Glucose (nmol/L):</label>
                    <input
                      type="number"
                      id="bloodGlucose"
                      name="bloodGlucose"
                      step="0.01"
                      min="0"
                      max="200"
                      {{#if patientDay.bloodGlucose}}
                      value={{patientDay.bloodGlucose}}
                      disabled="disabled"
                      readonly
                      {{/if}}
                    />
                </div>
                <div class="flex flex-column form-line-field">
                  <label for="bloodGlucoseComment">Blood Glucose Comment:</label>
                    <input
                      type="text"
                      id="bloodGlucoseComment"
                      name="bloodGlucoseComment"
                      {{#if patientDay.bloodGlucoseComment}}
                      value="{{patientDay.bloodGlucoseComment}}"
                      disabled="disabled"
                      readonly
                      {{/if}}
                    />
                </div>
              </div>
            {{/if}}

            {{#if patient.insulinDosesRequired}}
              <div class="flex flex-space-around flex-wrap form-line">
                <div class="flex flex-column form-line-field">

                  <label for="insulinDoses">Insulin doses:</label>
                    <input
                      type="number"
                      id="insulinDoses"
                      name="insulinDoses"
                      min="0"
                      max="200"
                      {{#if patientDay.insulinDoses}}
                      value={{patientDay.insulinDoses}}
                      disabled="disabled"
                      readonly
                      {{/if}}
                    />
                </div>
                <div class="flex flex-column form-line-field">
                  <label for="insulinDosesComment">Insulin Doses Comment:</label>
                    <input
                      type="text"
                      id="insulinDosesComment"
                      name="insulinDosesComment"
                      {{#if patientDay.insulinDosesComment}}
                      value="{{patientDay.insulinDosesComment}}"
                      disabled="disabled"
                      readonly
                      {{/if}}
                    />
                </div>
              </div>
            {{/if}}

            {{#if patient.weightRequired}}
              <div class="flex flex-space-around flex-wrap form-line">
                <div class="flex flex-column form-line-field">
                  <label for="weight">Weight (kg):</label>
                    <input
                      type="number"
                      id="weight"
                      name="weight"
                      step="0.01"
                      min="0"
                      max="500"
                      {{#if patientDay.weight}}
                      value={{patientDay.weight}}
                      disabled="disabled"
                      readonly
                      {{/if}}
                    />
                </div>
                <div class="flex flex-column form-line-field">
                  <label for="weightComment">Weight Comment:</label>
                    <input
                      type="text"
                      id="weightComment"
                      name="weightComment"
                      {{#if patientDay.weightComment}}
                      value="{{patientDay.weightComment}}"
                      disabled="disabled"
                      readonly
                      {{/if}}
                    />
                </div>
              </div>
            {{/if}}

            {{#if patient.exerciseRequired}}
              <div class="flex flex-space-around flex-wrap form-line">
                <div class="flex flex-column form-line-field">
                  <label for="exercise">Exercise (steps):</label>
                    <input
                      type="number"
                      id="exercise"
                      name="exercise"
                      min="0"
                      max="50000"
                      {{#if patientDay.exercise}}
                      value={{patientDay.exercise}}
                      disabled="disabled"
                      readonly
                      {{/if}}
                    />
                </div>
                <div class="flex flex-column form-line-field">
                  <label for="exerciseComment">Exercise Comment:</label>
                    <input
                      type="text"
                      id="exerciseComment"
                      name="exerciseComment"
                      {{#if patientDay.exerciseComment}}
                      value="{{patientDay.exerciseComment}}"
                      disabled="disabled"
                      readonly
                      {{/if}}
                    />
                </div>
              </div>
            {{/if}}
            <button type="submit">Submit</button>
          </form>
        </div>
        <div class="shadow-box flex-fit" style="max-width: 600px">
          <h3 class="text-center">Clinician Support Message</h3>
          <div class="flex flex-column flex-wrap form-line">
            <p class="flex flex-wrap">
              {{#if patient.supportMessage}}
                {{patient.supportMessage}}
              {{else}}
                No support message available :(
              {{/if}}
            </p>
            {{#if patient.supportMessageTime}}
              <p class="small-text flex flex-end">
                {{patient.supportMessageTime}}
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>