<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="nav-button" href="/">Home</a>
  </nav>
  <main>
    <h3 class="text-center">Welcome {{patient.name}}</h3>
    <div class="flex flex-space-around">
      <div class="shadow-box">
        <form
          class="styled-form"
          name="dayform"
          id="dayform"
          action="postday"
          method="post"
        >
          {{#if patient.bloodGlucoseRequired}}
            <div class="flex flex-space-around flex-wrap form-line">
              <div class="flex flex-column form-line-field">
                <label for="bloodGlucose">Blood Glucose (nmol/L):</label>
                  <input
                    type="number"
                    id="bloodGlucose"
                    name="bloodGlucose"
                    {{#if patientDay.bloodGlucose}}
                    value={{patientDay.bloodGlucose}}
                    readonly
                    {{/if}}
                  />
              </div>
              <div class="flex flex-column form-line-field">
                <label for="bloodGlucoseComment">Blood Glucose Comment:</label>
                  <input
                    type="text"
                    id="bloodGlucoseComment"
                    name="bloodGlucoseComment"
                    {{#if patientDay.bloodGlucoseComment}}
                    value="{{patientDay.bloodGlucoseComment}}"
                    readonly
                    {{/if}}
                  />
              </div>
            </div>
          {{/if}}

          {{#if patient.insulinDosesRequired}}
            <div class="flex flex-space-around flex-wrap form-line">
              <div class="flex flex-column form-line-field">

                <label for="insulinDoses">Insulin doses:</label>
                  <input
                    type="number"
                    id="insulinDoses"
                    name="insulinDoses"
                    {{#if patientDay.insulinDoses}}
                    value={{patientDay.insulinDoses}}
                    readonly
                    {{/if}}
                  />
              </div>
              <div class="flex flex-column form-line-field">
                <label for="insulinDosesComment">Insulin Doses Comment:</label>
                  <input
                    type="text"
                    id="insulinDosesComment"
                    name="insulinDosesComment"
                    {{#if patientDay.insulinDosesComment}}
                    value="{{patientDay.insulinDosesComment}}"
                    readonly
                    {{/if}}
                  />
              </div>
            </div>
          {{/if}}

          {{#if patient.weightRequired}}
            <div class="flex flex-space-around flex-wrap form-line">
              <div class="flex flex-column form-line-field">
                <label for="weight">Weight (kg):</label>
                  <input
                    type="number"
                    id="weight"
                    name="weight"
                    {{#if patientDay.weight}}
                    value={{patientDay.weight}}
                    readonly
                    {{/if}}
                  />
              </div>
              <div class="flex flex-column form-line-field">
                <label for="weightComment">Weight Comment:</label>
                  <input
                    type="text"
                    id="weightComment"
                    name="weightComment"
                    {{#if patientDay.weightComment}}
                    value="{{patientDay.weightComment}}"
                    readonly
                    {{/if}}
                  />
            </div>
            </div>
          {{/if}}

          {{#if patient.exerciseRequired}}
            <div class="flex flex-space-around flex-wrap form-line">
              <div class="flex flex-column form-line-field">
                <label for="exercise">Exercise (steps):</label>
                  <input
                    type="number"
                    id="exercise"
                    name="exercise"
                    {{#if patientDay.exercise}}
                    value={{patientDay.exercise}}
                    readonly
                    {{/if}}
                  />
              </div>
              <div class="flex flex-column form-line-field">
                <label for="exerciseComment">Exercise Comment:</label>
                  <input
                    type="text"
                    id="exerciseComment"
                    name="exerciseComment"
                    {{#if patientDay.exerciseComment}}
                    value="{{patientDay.exerciseComment}}"
                    readonly
                    {{/if}}
                  />
              </div>
            </div>
          {{/if}}
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>