<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="button" href="/">Home</a>
  </nav>
  <main>
    <form name="dayform" id="dayform" action="postday" method="post">
      {{#if patient.bloodGlucoseRequired}}
        <div>

          <label for="bloodGlucose">Blood Glucose:</label>
          {{#if patientDay.bloodGlucose}}
            <input
              type="number"
              id="bloodGlucose"
              name="bloodGlucose"
              value={{patientDay.bloodGlucose}}
              readonly
            />
          {{else}}
            <input type="number" id="bloodGlucose" name="bloodGlucose" />
          {{/if}}

          <label for="bloodGlucoseComment">Blood Glucose Comment:</label>
          {{#if patientDay.bloodGlucoseComment}}
            <input
              readonly
              type="text"
              id="bloodGlucoseComment"
              name="bloodGlucoseComment"
              value="{{patientDay.bloodGlucoseComment}}"
            />
          {{else}}
            <input
              type="text"
              id="bloodGlucoseComment"
              name="bloodGlucoseComment"
            />
          {{/if}}

          <br /><br />
        </div>
      {{/if}}

      {{#if patient.bloodGlucoseRequired}}
        <div>

          <label for="bloodGlucose">Blood Glucose:</label>
          {{#if patientDay.bloodGlucose}}
            <input
              type="number"
              id="bloodGlucose"
              name="bloodGlucose"
              value={{patientDay.bloodGlucose}}
              readonly
            />
          {{else}}
            <input type="number" id="bloodGlucose" name="bloodGlucose" />
          {{/if}}

          <label for="bloodGlucoseComment">Blood Glucose Comment:</label>
          {{#if patientDay.bloodGlucoseComment}}
            <input
              readonly
              type="text"
              id="bloodGlucoseComment"
              name="bloodGlucoseComment"
              value="{{patientDay.bloodGlucoseComment}}"
            />
          {{else}}
            <input
              type="text"
              id="bloodGlucoseComment"
              name="bloodGlucoseComment"
            />
          {{/if}}

          <br /><br />
        </div>
      {{/if}}

      {{#if patient.bloodGlucoseRequired}}
        <div>

          <label for="bloodGlucose">Blood Glucose:</label>
          {{#if patientDay.bloodGlucose}}
            <input
              type="number"
              id="bloodGlucose"
              name="bloodGlucose"
              value={{patientDay.bloodGlucose}}
              readonly
            />
          {{else}}
            <input type="number" id="bloodGlucose" name="bloodGlucose" />
          {{/if}}

          <label for="bloodGlucoseComment">Blood Glucose Comment:</label>
          {{#if patientDay.bloodGlucoseComment}}
            <input
              readonly
              type="text"
              id="bloodGlucoseComment"
              name="bloodGlucoseComment"
              value="{{patientDay.bloodGlucoseComment}}"
            />
          {{else}}
            <input
              type="text"
              id="bloodGlucoseComment"
              name="bloodGlucoseComment"
            />
          {{/if}}

          <br /><br />
        </div>
      {{/if}}

      {{#if patient.bloodGlucoseRequired}}
        <div>

          <label for="bloodGlucose">Blood Glucose:</label>
          {{#if patientDay.bloodGlucose}}
            <input
              type="number"
              id="bloodGlucose"
              name="bloodGlucose"
              value={{patientDay.bloodGlucose}}
              readonly
            />
          {{else}}
            <input type="number" id="bloodGlucose" name="bloodGlucose" />
          {{/if}}

          <label for="bloodGlucoseComment">Blood Glucose Comment:</label>
          {{#if patientDay.bloodGlucoseComment}}
            <input
              readonly
              type="text"
              id="bloodGlucoseComment"
              name="bloodGlucoseComment"
              value="{{patientDay.bloodGlucoseComment}}"
            />
          {{else}}
            <input
              type="text"
              id="bloodGlucoseComment"
              name="bloodGlucoseComment"
            />
          {{/if}}

          <br /><br />
        </div>
      {{/if}}

      <input type="submit" value="Submit" />
    </form>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>